{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/PILA_logo.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">View source on <a href="https://github.com/pila-project/dashboard/">Github</a>.</p>
  <a href="/dashapp/" class="dash-link">
    <span>Go to the Dashboard</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
